@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*STYLE RESET START*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover, a:visited, a:active, a:focus{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
label{
    margin:0;
}
input,button,select{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
}
/*STYLE RESET END*/

/*DEFAULT-CLASSES START*/
.fs-middle{
    font-size: 16px;
}
.title.big{
    font-size: 52px;
}
.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.justify-sb{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify-sa{
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.align-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.align-bl{
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.white-bg{
    background-color: #fff;
}
.icon{
    display: inline-block;
}
.orange-text{
    color:#ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.dark-blue-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.icon-search-ic:hover {
    background-position: -81px 0px;
}
.icon-user-ic:hover {
    background-position: 0px -59px;
}
.icon-cart-ic:hover {
    background-position: -20px -59px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}

/*DEFAULT-CLASSES END*/

/*DEFAULT COMPONENT START*/
a:hover{
    color:#ff5912;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title-big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.header{
    font-family: 'Harmonia_regular';
    color: #34404b;
}
.header .top-header .top-header-contacts>*{
    display: inline-block;
}
.header .top-header{
    font-size: 12px;
    padding: 25px 0;
    border-bottom: 1px solid #edeff1;
}
.top-header-contacts span{
    margin-left: 10px;
}
.top-header-contacts .phone{
    margin-left: 20px;
}
.top-header .social a + a{
    margin-left: 15px;
}
.header .bottom-header{
    padding: 40px 0;
    font-size: 16px;
}
.header-nav{
    margin-left: 80px;
}
.header-nav a + a{
    margin-left: 40px;
}
.header .bottom-header .user-controls{
    margin-left: auto;
}
.user-controls a + a{
    margin-left: 25px;
}
.user-controls .pos-rel{
    display: inline-block;
    position: relative;
}
.user-controls .icon-index{
    background-color: #34404b;
    padding: 0 7px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font: 10px/1 "Harmonia_light", sans-serif;
    line-height: 2em;
    color: #fff;
    position: absolute;
    top: -21px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.product-item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    padding: 30px 10px;
    position: relative;
    height: 372px;
}
.product-item:hover{
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-item .item-description{
    padding: 0 37px;
    margin-top: 30px;
}
.product-item .item-img img{
    max-height: 100%;
}
.product-item .item-title,
.product-item .sizes{
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.product-item .item-img{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 216px;
}
.product-item:hover .item-price{
    display: none;
}
.product-item:hover .item-title{
    color: #ff5912;
}
.product-item .more-info-on-hover{
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 50px;
    -webkit-transition: all .3s linear .1s;
    -o-transition: all .3s linear .1s;
    transition: all .3s linear .1s;
    z-index: -1;
}
.product-item:hover .more-info-on-hover{
    opacity: 1;
    z-index: 99;
}
.product-item:hover .item-img{
    height: 90px;
}
.product-item .colors{
    display: inline-block;
    border-bottom: 1px solid #f2f4f7;
    padding-bottom: 30px;
}
.product-item .item-controls{
    padding-top: 29px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.product-item li{
    display: inline-block;
}
.product-item .colors li{
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.load-more .row{
    min-height: 80px;
}
.load-more .col-md-12{
    margin-top: 35px;
}
.load-more .dot{
    display: inline-block;
    border: 5px solid;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.subscribe-form{
    padding: 35px 45px;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.category-wrap{
    padding-top: 120px;
    padding-bottom: 60px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
input[type="checkbox"]:checked + label{
    color: #ff5912;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}

.ui-widget.ui-widget-content{
    border: none;
    background-color: #edf0f2;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 3px;
}
.add-range-value{
    margin-top: 30px;
}
.min-value,
.max-value{
    position: absolute;
    bottom: 200%;
    color: #34404b;
}
.ui-slider .ui-slider-range{
    background-color: #34404b;
}
.ui-widget-content .ui-state-default.ui-slider-handle{
    width: 11px;
    height: 11px;
    background-color: #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    outline: none;
}
.adv-block{
    padding: 27px 0;
    border: 1px solid #eaedef;
}
.adv-area{
    font-size: 16px;
}
.adv-area,
.adv-size{
    display: block;
}
.adv-block span i {
    font-style: inherit;
}
.adv-block .adv-size {
    letter-spacing: .6em;
    opacity: .4;
}
.adv-block span + span {
    margin-top: 15px;
}
/*DEFAULT COMPONENT END*/

.sale-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
#sale-carousel{
    padding-left: 8%;
}
.sale-carousel .carousel-indicators{
    width: auto;
    bottom: auto;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0;
}
.sale-carousel .carousel-indicators li{
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    display: block;
    margin: 0;
    border: none;
    width: 10px;
    height: 16px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sale-carousel .carousel-indicators li + li{
    margin-top: 10px;
}
.sale-carousel .carousel-indicators li.active{
    background-color: #ff5912;
    height: 36px;
}
.item-carousel-description p:first-of-type,
.carousel-order-now{
    font-size: 18px;
    font-family: 'Harmonia_semibold';
}
.subtitle{
    font-size: 16px;
}
.product-wrap .subtitle{
    font-size: 18px;
}
.sale-carousel .subtitle{
    margin-top: 18px;
}
.new-arrivals .container,
.best-sales .container{
    padding-top: 80px;
}
.item-carousel-description p:last-child{
    font-size: 16px;
}
.item-carousel-description p{
    margin: 20px 0;
}
.item-carousel-description .carousel-order-now{
    padding-top: 60px;
}
.item-carousel-description .carousel-order-now a{
    padding-left: 30px;
}
.kit{
    border: 1px solid #eaedef;
    height: 99px;
}
.sales-block{
    position: relative;
    margin: 0 30px;
}
.sales-block .light-orange-bg,
.sales-block .orange-bg{
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block .light-orange-bg{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.sales-block .orange-bg{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: 0;
}
.sales-block .sale-orange-badge{
    position: absolute;
    bottom: 18px;
    left: 7px;
    text-align: center;
}
.sales-block .sale-orange-badge span{
    display: block;
    color: #ffffff;
}
.sale-orange-badge span:first-child{
    font-size: 12px;
    font-family: 'Harmonia_italic';
}
.sale-orange-badge span:last-child{
    font-size: 18px;
    font-family: 'Harmonia_black';
}
.kit .sales-info-block{
    padding-right: 40px;
    border-right: 1px solid #f5f5f6;
}
.kit .sales-info-block .title{
    margin-bottom: 15px;
    font-size: 22px;
}
.kit .sales-price-block .price{
    font-size: 32px;
    font-family: 'Harmonia_black';
    padding-left: 10px;
}
.kit .price .smalldollar{
    font-size: 22px;
}
.category-wrap .col-md-9 .row + .row{
    margin-top: 30px;
}
.category-wrap .col-md-9 .product-item{
    margin-bottom: 30px;
}

.best-sales .best-items {
     padding: 36px 28px;
 }

.best-items {
    position: relative;
    height: 160px;
}

.best-item-description {
    margin-left: 27px;
    padding-left: 27px;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    position: relative;
    border-left: 1px solid #f5f5f6;
}

.best-items .best-item-title {
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.best-items .best-item-title:hover a {
    color: #ff5912;
}

.best-item-info .best-item-rating li {
    display: inline-block;
    font-size: 12px;
    color: #ff5912;
}

.best-item-info .best-item-rating :nth-child(4) {
    color: #e9ebf3;
}

.add-to-cart-on-hover .icon {
    margin-right: 8px;
}

.best-item-description .add-to-cart-on-hover {
    opacity: 0;
    position: absolute;
    padding: 0 18px;
    color: #ff5912;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    z-index: -1;
}

.best-items:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.best-items:hover .best-item-info {
    display: none;
}

.best-items:hover .add-to-cart-on-hover {
    opacity: 1;
    z-index: 99;
}

.add-to-cart-on-hover a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.add-to-cart-on-hover span {
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 25px;
}

.add-to-cart-on-hover:hover span {
    color: rgba(255, 89, 18, .85);
}

.subscribe-description .news-letter {
    font-family: "Harmonia_bold";
    font-size: 18px;
    text-transform: uppercase;
}

.subscribe-description .join-us {
    font-family: "Harmonia_italic";
    font-size: 14px;
    margin-left: 14px;
}

.subscribe-form {
    padding: 35px 45px;
}

.btn-default {
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    color: #fff;
    font-family: 'Harmonia_semibold';
    font-size: 14px;
    padding: 17px 28px;
    margin-left: 30px;
}

.btn-default:hover {
    background-color: rgba(255, 89, 18, .85);
    color: #fff;
}

input[type="text"] {
    margin-left: 8px;
    font-family: "Harmonia_italic";
    font-size: 14px;
    color: #7c8791;
    width: 300px;
}

.aside-section {
    padding: 40px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-section .aside-section-title {
    font-family: "Harmonia_black";
    font-size: 18px;
    margin-bottom: 45px;
}

.aside-section .aside-section-categories-list {
    font-family: "Harmonia_semibold";
}
.aside-section .aside-section-categories-list li+li{
    margin-top: 40px;
}

.aside-section .aside-section-categories-list li a:hover {
    color: #ff5912;
}

.aside-section .aside-section-title.title-price-filter {
    margin-bottom: 64px;
}

.aside-section .checkbox-group {
    font-family: "Harmonia_semibold";

}

.aside-section form .checkbox-group + .checkbox-group {
    margin-top: 30px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-size: 16px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}

input[type="checkbox"]:checked + label {
    color: #ff5912;
}
input[type="checkbox"]:checked + label::before {
    border-color: #ff5912;
}

input[type="number"] {
    background-color: #edf0f2;
    margin-left: 10px;
    width: 45px;
    height: 25px;
}

.ui-widget.ui-widget-content {
    border: none;
    background-color: #edf0f2;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 3px;
}

.ui-slider .ui-slider-range {
    background-color: #34404b;
}

.min-value,
.max-value {
    position: absolute;
    bottom: 200%;
    color: #34404b;
}

.ui-widget-content .ui-state-default.ui-slider-handle {
    width: 11px;
    height: 11px;
    background-color: #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: none;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    outline: none;
}

.add-range-value {
    margin-top: 30px;
    font-family: "Harmonia_semibold";
    font-size: 14px;
}

.range-input-group.left-indent {
    margin-left: 18px;
}
/*FOOTER START*/
footer {
    margin-top: 60px;
    padding: 90px 0 80px 0;
}

.footer-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer-logo .your-copyright {
    font-size: 14px;
    color: #28313b;
    margin-top: 18px;
}

.footer-nav ul {
    list-style: unset;
    font-size: 14px;
    color: #28313b;
}

.footer-nav ul li:hover {
    color: #ff5912;
}

.footer-nav ul li:hover a {
    color: #ff5912;
}

.footer-nav ul + ul {
    margin-left: 120px;
}

.footer-nav ul li + li {
    margin-top: 20px;
}

.payment-methods span {
    display: block;
    margin-bottom: 18px;
    font-family: "Harmonia_semibold";
    font-size: 16px;
}

.payment-methods .payment-methods-icon li+li {
    margin-left: 8px;
}
/*FOOTER END*/

.category-wrap {
    padding-top: 120px;
    padding-bottom: 60px;
}

.category-wrap .load-more {
    margin: 0;
}
.category-wrap .load-more a {
    display: block;
    padding: 26px 0;
}
.category-wrap .col-md-12{
    margin: 0;
}
.mobile-sidebar-btn{
    display: none;
    font-size: 30px;
    color: #ff5912;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .mobile-sidebar-btn {
        display: block;
    }
    .mobile-sidebar-btn .fa{
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    .mobile-sidebar-wrap {
        position: absolute;
        -webkit-transform: translateX(-150%);
            -ms-transform: translateX(-150%);
                transform: translateX(-150%);
        z-index: 99;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        left: 0;
        right: 0;
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .4);
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    main.show .mobile-sidebar-wrap{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    main.show .overlay{
        opacity: 1;
        z-index: 98;
    }
    main.show .mobile-sidebar-btn .fa{
        -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
    }
}

/* Product slider start */
.product-slider{
    width: 330px;
}

/* Product slider end */

/* Product description start */
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label{
    font-size: 14px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.product-description-info{
    padding: 40px 0;
}
.product-description .order-info{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
/* Product description end */

